*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('background.jpg');
  background-size: auto;
}
.box
{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 50%;
}
.box::before
{
  content: '';
  position: absolute;
  width:300px;
  height: 400px;
  background: linear-gradient(rgb(255, 0, 0),rgb(0, 0, 255));
  animation: animate 2s linear infinite;
}
.box::after
{
  content: '';
  position: absolute;
  background: rgb(0, 0, 0);
  inset: 6px;
  border-radius: 50%;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.box h2{
  position: relative;
  color: rgba(255, 255, 255, 0.90);
  font-size: 40px;
  z-index: 10;
}
